{%extends 'base.html'%}
{%import 'macros.html' as macro%}

<body> 
{%block content%}
    <h3>Headlines</h3>
    <ul> 
        {%for headlines in headlines%}
        <li> {{headlines.title}} </li>
        {% endfor%}
    </ul>
    <h3>sources</h3>
  <ul>
      {%for source in sources%}
      <li> {{sources.title}} </li>
      
      {%endfor%}
  </ul>
  <h3>Articles</h3>
  <ul>
      {%for article in articles%}
      <li> {{articles}} </li>
      {%endfor%}
  </ul>
  <h3>Categories</h3>
  <ul> 
      {%for category in categories%}
      <li> {{categories}} </li>
      {%endfor%}

  </ul>
{% endblock%}