{%extends 'base.html'%}
{%import 'macros.html' as macro%}

<div class="container">
{%block content%}
<div class="row">
    <form class="mt-2">
        <input type="text" name="q" placeholder="Search for topic eg politics" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>

</div>
<div class="row">
    <div class="col-md-3">
        <h3>
            News Links
        </h3>
        {{macro.dispayAllShorts(headlines)}}
        {{macro.dispayAllShorts(title)}}
    </div>
    <div class="col-md-6">
        <h3>Latest News</h3>
        {{macro.displayHeadlineList(headlines)}}
        </div>
        <div class="col-md-3">
            <h3>Sources</h3>
            {{macro.displaySources(sources)}}
        </div>
        <ul> </ul>
</div>
    
{% endblock%}
</div>