{% macro displayHeadlineList(headline_list)%} 
   {% for headlines in headline_list %}
   <ul> 
     
       <h5> {{headlines.source}} </h5>
       <li> {{headlines.title}} </li>
       <p> {{headlines.description}} </p>
       <img src=" {{headlines.image}} " alt="" height="200px" width="300px">
       <a href=" {{headlines.url}}"></a>

       </ul>

   {% endfor %}
   {% endmacro %}

{% macro displaySources(source_list)%}
   {%for source in source_list%}

   <li>
       <a href="/article/{{source.id}}"> {{source.name}} </a>
       <p> {{source.description}} </p>
       
   </li>

   {%endfor%}
   {%endmacro%}

{%macro dispayAllShorts(headline_list)%}

{% for headline in headline_list%}
<li class="category-info">
    <span class="category-headline"><span>{{ headline.publishedAt}} </span><a href="{{headline.url}}" class="text-dark">{{ headline.title }}</a> </span>
    <a href="{{headline.url}}" class="text-primary">Read more... </a>
</li>
{% endfor %}
{% endmacro %}
