{% macro displayHeadlineList(headline_list)%} 
   {% for headlines in headline_list %}
   <ul> 
     
       <h5> {{headlines.categories}} </h5>
       <li> {{headlines.title}} </li>
       <p> {{headlines.description}} </p>
       <img src=" {{headlines.image}} " alt="" height="200px" width="300px">
       <a href=" {{headlines.url}}"></a>

       </ul>

   {% endfor %}
   {% endmacro %}

{% macro displaySources(source_list)%}
   {%for source in source_list%}

   <div>
    <li class="source-list text-primary text-muted">
        <a href="{{source.decription}}" class="text-danger p-2 source-name">{{ source.description}}</a>
        <p> {{source.url}} </p>
    </li>
   </div>

   {%endfor%}
   {%endmacro%}

{%macro dispayAllShorts(headline_list)%}
{% for headlines in headline_list%}
<li class="category-info">
    <span class="category-headline"><span>{{ headlines.publishedAt}} </span><a href="{{headlines.url}}" class="text-dark">{{ headlines.title }}</a> </span>
    <a href="{{headlines.url}}" class="text-primary">Read more... </a>
</li>
{% endfor %}
{% endmacro %}
