
  <div class="navbar  bg-danger" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> NewsUpdate </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li> <a class="nav-link" href="/{{'categories/Technology'}}">Technology</a></li>
                <li> <a class="nav-link" href="/{{'categories/Health'}} ">Health</a></li>
                <li><a class="nav-link" href="/{{'categories/Business'}} ">Business</a></li>
                <li> <a class="nav-link" href="/{{'categories/Entertainment'}} ">Entertainment</a></li>
        </div>

    </div>
</div>