{% extends 'base.html'%}
{% import 'macros.html' as macro%}
 {% block content %}

 <div class="container">
     <div class="row">
         <div class="col-md-6">
             <h3>Short Updates</h3>
             <div>
                {{macro.dispayAllShorts(topic)}}
             </div>
         </div>

         <div class="col-md-6">
             <h3>Latest News</h3>
             <div>
                 {{macro.displayHeadlineList(categories)}}
             </div>
         </div>
     </div>

 </div>
 {%%endblock}